.TagInput {
  $input-height: 40px;

  position: relative;
  display: block;

  &.small {
    margin-left: 0.5rem;
  }

  &__input {
    width: 185px;
    height: $input-height;
    padding: 0 20px 1px 18px;
    border: none !important;
    border-radius: $input-height/2;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.18);
    background-color: #FFF;

    @media screen and (max-width: 39.9375em) {
      width: 160px;
    }

    &::placeholder {
      font-size: 15px;
    }
  }

  &__input-plus {
    position: absolute;
    top: 0;
    right: 13px;
    height: $input-height;
    line-height: $input-height - 2px;
    cursor: pointer;

    @include themify($themes) {
      color: themed('textColorSecondary');
    }
  }
}
