
.PostFooter {

  &_fix-height {
    height: 80px;
  }

  &_edit {
    margin-bottom: 50px;
  }

  &__line {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__category {
    width: 200px;
    height: 40px;
    padding: 0 20px 1px 18px;
    border: none !important;
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.18);
  }

  &__cat {
    text-transform: capitalize;
  }

  &__tags {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__inline-tags-line {
    flex-grow: 1;
    height: 100%;
    margin-left: 20px;
  }

  &__tags-line {
    margin-top: -6px;
  }

  &__buttons {
    display: flex;
    flex-shrink: 0;
  }

  &__button {
    position: relative;
    flex-shrink: 0;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &_hint-disabled {

    }
  }

  &__disabled-hint {
    opacity: 0;
    transition: opacity 0.25s;
  }

  &__button_hint-disabled:hover &__disabled-hint {
    opacity: 1;
  }
}
