.PostsList {
  clear: right;
  margin: 20px 0;
}

.PostsList__summaries {
  list-style-type: none;
  margin-left: 0;
}

.PostsIndex__topics {
  margin-top: .7rem;
  border-left: 1px solid $light-gray;
}

.PostsIndex__topics_compact {
  float: right;
  width: 15rem;
  position: relative;
  top: -0.8rem;
  > select {
    border: none;
    border-bottom: 1px solid $medium-gray;
    border-radius: 0;
  }
}

.PostsIndex.fetching .PostsIndex__topics_compact {
  visibility: hidden;
}

.coinmarketcap-currency-widget {
    margin-bottom: 10px;
    width: 12rem;
}

.strike {
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px;
        overflow: hidden;
        white-space: nowrap; 
    }

.strike > span {
        position: relative;
        display: inline-block;
    }
  
.strike > span:before,
.strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: goldenrod;
    }

.strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

.strike > span:after {
        left: 100%;
        margin-left: 15px;
}

.strike a {
        color: gray;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .PostsIndex__left {
    padding: 0;
  }
  .PostsIndex__topics_compact {
    padding: 0 0.5rem;
    float: none;
    width: auto;
    margin-top: 1.5rem;
  }
}

/* Medium and up */
@media screen and (min-width: 39.94em) {
  .PostsIndex__summaries {
    > li:first-child {
      .PostSummary {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}
