.App {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.App-center {
  text-align: center;
}

.Input__Inline {
  width: auto !important;
  display: inline-block !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
