.App-workers {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.App-center {
  text-align: center;
}

.Input__Inline {
  width: auto !important;
  display: inline-block !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.inline {
  width: auto;
}

.Workers__green {
  color: rgb(30,230,80);
}

.Workers__red {
  color: rgb(255,71,109);
}

.Workers__title {
  display: inline-block;
}

.Workers__author {
  display: inline-block;
  padding-top: 5px;
}

.Workers__created {
    font-size: 85%;
}

@import "./AddEditWorkerRequest";
@import "app/components/elements/WorkerFunds";
@import "./ViewWorkerRequest";
