.ForeignApp {
    color: #C00;
    border: 1px solid #C00;
    font-size: 75%;
    border-radius: 3px;
    font-weight: normal;
    font-family: Arial;
    margin: 0 0 0 0.5rem;
    padding: 0 0.2rem;
}
